<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">

    <vip_info v-bind:prop_user="user" @on-data-change="update_data"></vip_info>

</div>


<template id="vip_info">
    <div>
        <input type="text" v-model="prop_user.id">
        <input type="text" v-model="prop_user.name">
    </div>
</template>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</body>
<script>
    let vm = new Vue({
        el: '#app',
        data: {
            user: {
                id: 1,
                name: 'suns',
            }
        },
        methods: {
            update_data(){
                console.log('++++++');
                this.user=value;
            }
        },
        components: {
            vip_info: {
                template: '#vip_info',
                props: ['prop_user'],
                data: function () {
                    return {
                        child_user: this.prop_user
                    }
                },
                watch: {
                    prop_user(value) {
                        this.child_user = value;
                    },
                    child_user(value){
                        this.$emit('on-data-change',value);
                    }
                }
            }
        }
    })
</script>
</html>